body {
    font-family: arial, sans-serif;
    font-size: 12pt;
    margin: 10px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-4, .label {
    line-height: 35px;
}

.temp {
    font-size: 2em;
    font-weight: bold;
    line-height: 3;
}

.bold {
    font-weight: bold;
}

.well {
    padding: 30px;
    min-height: 20%;
}

.panel {
    max-width: 80%;
}

.btn-success {
    width: 200px;
}

.container {
    position: relative;
}

a {
    cursor: pointer;
}

#city-list {
    -moz-min-width: 40%;
    -ms-min-width: 40%;
    -o-min-width: 40%;
    -webkit-min-width: 40%;
    min-width: 40%;
}

    #city-list > .well {
        overflow-y: auto;
        max-height: 30%;
    }

#city-details {
    -moz-min-width: 60%;
    -ms-min-width: 60%;
    -o-min-width: 60%;
    -webkit-min-width: 60%;
    min-width: 60%;
}

.weather-details > .row {
    line-height: 2;
}

.float-left {
    float: left;
}
